# macOS
.DS_Store

# Logs
*.log

# Temporary files
*.tmp
*.swp

# Archives
*.tar
*.tar.gz

# IDE
.vscode/
.idea/
 


# =========================
# Terraform
# =========================
**/.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
