services:
  web:
    image: nginx:latest
    volumes:
      - ./web-data:/usr/share/nginx/html:ro
    depends_on:
      - db
      - redis
    networks:
      - appnet
    ports:
      - "8080:80"
  db:
    image: postgres:15
    container_name: db
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - appnet

  redis:
    image: redis:7
    container_name: redis
    networks:
      - appnet

volumes:
  db-data:

networks:
  appnet:
